
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.container .image1 {
    border-radius: 15px;
    margin-top: 39px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ded1d1;
}

.container .image1 img {
    height: 500px;
    width: 500px;
    border-radius: 295px;

}

.container .image1 img:hover {
    border-radius: 0;
    box-shadow: 20px 20px 15px rgb(4, 64, 4);
    transition: all 0.8s;
    height: 550px;
    width: 550px;
    line-height: 10px;
}

.container .image1 h2 {
    text-align: center;
    font-weight: bolder;
    margin-top: 10px;
    margin-bottom: 22px;
}

.container .image1 .box {
    text-align: center;
    font-weight: bolder;
}

@media only screen and (max-width:850px) {

    .container .image1 img {
        height: 325px;
        width: 324px;
        border-radius: 295px;
    }

    .container .image1 {
        margin-top: 18px;
        padding-top: 16px;
    }

    .container .image1 img:hover {
        height: 400px;
        width: 400px;
    }

    .container .image1 h2 {
        font-size: 20px;
    }

    .container .image1 .box {
        font-size: 15px;
    }
}

@media only screen and (max-width:550px) {

    .container .image1 img {
        height: 210px;
        width: 210px;
        border-radius: 295px;
    }

    .container .image1 h2 {
        font-size: 17px;
    }

    .container .image1 h2 {
        margin: 7px 0 8px 10px;
    }

    .container .image1 img:hover {
        height: 250px;
        width: 250px;
    }

    .container .image1 .box {
        font-size: 12px;
    }
}